* {
  margin: 1;
  padding: 0;
  box-sizing: border-box;
}

/* Mobile for nav*/
@media (max-width: 400px) {
  #navbar li {
    display: block;
  }
}
.contactheading {
  font-family: monaco, Consolas, 'Lucida Console', monospace;
  margin-top: 8rem;
  color: white;
}
header {
  margin-top: 1rem;
}

body {
  background: rgb(250, 250, 250);
}

a {
  color: inherit;
  text-decoration: none;
  font-family: monaco, Consolas, 'Lucida Console', monospace;
}

/* Navbar*/
#navbar {
  background: white;
  color: rgb(13, 26, 38);
  position: fixed;
  top: 0;
  height: 60px;
  line-height: 60px;
  width: 100%;
  z-index: 10;
}

.nav-wrapper {
  margin: auto;
  text-align: center;
  width: 70%;
}
@media (max-width: 768px) {
  .nav-wrapper {
    width: 90%;
  }
}
@media (max-width: 638px) {
  .nav-wrapper {
    width: 100%;
  }
}

.logo img {
  float: left;
  width: auto;
  height: 4rem;
}

#navbar ul {
  display: inline-block;
  float: right;
  list-style: none;
  /* margin-right: 14px; */
  margin-top: -2px;
  text-align: right;
  transition: transform 0.5s ease-out;
  -webkit-transition: transform 0.5s ease-out;
}

#navbar li {
  display: inline-block;
}

#navbar li a {
  color: rgb(13, 26, 38);
  display: block;
  font-size: 0.7em;
  height: 50px;
  letter-spacing: 1px;
  margin: 0 20px;
  padding: 0 4px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

#navbar li a:hover {
  color: rgb(28, 121, 184);
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
}

/* Animated Bottom Line */
#navbar li a:before,
#navbar li a:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -1px;
  background: rgb(13, 26, 38);
}

#navbar li a:before {
  left: 0;
  transition: 0.5s;
}

#navbar li a:after {
  background: rgb(13, 26, 38);
  right: 0;
}

#navbar li a:hover:before {
  background: rgb(13, 26, 38);
  width: 100%;
  transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
}

#navbar li a:hover:after {
  background: transparent;
  width: 100%;
  /* transition: 0s; */
}

/* Banner Img */
.masthead {
  height: 200px;
  position: relative;
  text-align: center;
  background-image: url('../../images/banner-image.jpg');
  margin-top: 3.9rem;
  background-position: center center;
}
.masthead h1 {
  color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 4rem;
  margin: 0 0 1rem 0;
  font-weight: bold;
  color: black;
  text-align: center;
  padding: 100px 0;
  font-family: Papyrus, fantasy;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.top {
  text-align: center;
  padding: 1rem;
}

.top a {
  text-decoration: none;
  color: rgb(0, 184, 250);
}

.top a:hover {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  color: aliceblue;
}
.contact-bg {
  background-image: url('../../images/contact-bg.jpg');
}
/*Footer*/
footer {
  background-color: rgba(0, 0, 0, 0.673);
  color: white;
  text-align: center;
  padding: 15px 0;
}

body {
  margin: 0;
  background-color: hsla(231, 100%, 78%, 0.242);
}
/* Homepage col */
.weekly img {
  text-align: center center;
}
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px;
  text-align: center;
  margin: 0 0 1rem 0;
}
.column p {
  font-family: Papyrus, fantasy;
}
.column p img {
  width: 350px;
  height: auto;
  text-align: center center;
}
.row:after {
  content: '';
  display: table;
  clear: both;
}
h2 {
  color: white;
}
/* Mobile col */
@media screen and (max-width: 900px) {
  .column {
    width: 100%;
  }
}
.column {
  background-color: grey;
  opacity: 0.9;
  border-radius: 20px;
  padding: 2rem;
}
/* Product page col */
.row {
  margin: 0 0 1rem 0;
  padding: 1rem;
}

.col {
  padding: 1rem;
  text-align: center;
  margin: 0 0 1rem 0;
  width: 100%;
  font-family: monaco, Consolas, 'Lucida Console', monospace;
}

.col p {
  background-color: grey;
  opacity: 0.9;
  border-radius: 20px;
  padding: 2rem;
  color: hsl(0, 0%, 100%);
}

.col p img {
  width: 200px;
  height: auto;
  float: right;
}

h2 {
  text-align: center;
  color: hsla(21, 99%, 63%, 0.735);
}

/* Hours table */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

table {
  border-collapse: separate;
  background: #099fff;
  border-radius: 5px;
  border-radius: (5px);
  margin: 50px auto;
  box-shadow: (0px 0px 5px rgba(0, 0, 0, 0.3));
}

thead {
  border-radius: 5px;
}

thead th {
  font-family: 'Patua One', cursive;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  text-align: left;
  padding: 20px;
  background-image: linear-gradient (#646f7f, #4a5564);
  border-top: 1px solid #858d99;
  &:first-child {
    border-top-left-radius: 5px;
  }

  &:last-child {
    border-top-right-radius: 5px;
  }
}

tbody tr td {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #5f6062;
  font-size: 13px;
  padding: 20px 20px 20px 20px;
  border-bottom: 1px solid #e0e0e0;
}

tbody tr:nth-child(2n) {
  background: #f0f3f5;
}

tbody tr:last-child td {
  border-bottom: none;
  &:first-child {
    border-bottom-left-radius: 5px;
  }
  &:last-child {
    border-bottom-right-radius: 5px;
  }
}

tbody:hover > tr td {
  opacity: 0.5;
}

tbody:hover > tr:hover td {
  text-shadow: none;
  color: #2d2d2d;
  opacity: 1;
}

/* contact form */

fieldset {
  border: 0;
}

.form {
  padding: 5rem;
  padding-bottom: 0;
  color: #00adb8;
  font-family: Papyrus, fantasy;
  font-size: 1.5rem;
}

form {
  position: relative;
  width: 100%;
  margin: 50px auto 100px auto;
}

input {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 50px;
  padding: 0px 15px 0px 15px;
  background: transparent;
  outline: none;
  color: white;
  border-radius: 5px;
  border: solid 2px #dd5b24;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #b3aca7;
  color: #e2dedb;
}

textarea {
  margin-top: 10px;
  width: 100%;
  height: 110px;
  padding: 15px;
  border: solid 2px #dd5b24;
  border-radius: 5px;
  background: transparent;
  color: white;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #b3aca7;
  color: #e2dedb;
}

[type='checkbox']:nth-child(1) {
  width: 15px;
  height: 15px;
}

[type='submit'] {
  width: 100%;
  padding: 0;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
  border-radius: 5px;
  border: solid 2px #dd5b24;
  color: 00adb8;
}

#submit:hover {
  color: #e2dedb;
}

@media screen and (min-width: 50rem) {
  .clearfix::after {
    content: '';
    display: block;
    clear: left;
  }

  .gallrey ul li {
    width: 50%;
    float: left;
    margin: 0;
    list-style: none;
  }
  #nav li {
    width: calc(33.33% - 1rem + 33.33rem);
    float: left;
    margin: none;
    text-align: center;
    width: 33.33%;
    list-style-type: none;
  }

  form {
    margin: 2rem;
  }
  fieldset:nth-child(1),
  fieldset:nth-child(2) {
    float: left;
    width: calc(50% - 1rem + 0.5rem);
    margin: 0 1rem 0 0;
  }
  fieldset:nth-child(1) {
    margin: 0;
    width: 50%;
  }
  fieldset:nth-child(2) {
    margin: 0;
    width: 50%;
    margin-left: 0;
  }
  fieldset:nth-child(3) {
    clear: both;
    margin: 0rem;
    width: 100%;
  }
  [type='submit'] {
    width: 100%;
  }

  .col-2 {
    float: left;
    margin-top: 1rem;
    width: 50%;
  }
}
