* {
  margin: 1;
  padding: 0;
  box-sizing: border-box;
}

.masthead {
  background-image: url('./images/banner-image.png');
  height: 300px;
  background-position: center center;
}
.masthead h1 {
  color: white;
}

h1 {
  font-size: 4rem;
  margin: 0 0 1rem 0;
  font-weight: bold;
  color: black;
  text-align: center;
  padding: 100px 0;
  font-family: Papyrus, fantasy;
}

ul li p {
  font-family: 'Lucida Bright', Georgia, serif;
  color: chartreuse;
}

.main-nav li a {
  font-family: Papyrus, fantasy;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: #dd5b24;
  text-transform: uppercase;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  padding: 1rem;
  text-align: center;
  display: block;
  background-color: hsla(0, 0%, 42%, 0.3);
}

.main-nav li a:hover {
  color: rgb(199, 0, 0);
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.top {
  text-align: center;
  padding: 1rem;
}

.top a {
  text-decoration: none;
  color: rgb(0, 184, 250);
}

.top a:hover {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  color: aliceblue;
}

.footer-nav li a {
  font-family: Papyrus, fantasy;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
  color: red;
  text-transform: uppercase;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  padding: 1rem;
  text-align: center;
  display: block;
}

.footer-nav li {
  float: left;
  text-align: center;
  width: 33.33%;
  list-style-type: none;
}

.footer-nav li a:hover {
  color: grey;
}

.footer-content {
  color: white;
  text-align: center;
  background-color: grey;
  padding: 1rem;
}

body {
  margin: 0;
  background-color: hsla(231, 100%, 78%, 0.242);
}

.row {
  margin: 0 0 1rem 0;
  padding: 1rem;
}

.col {
  padding: 1rem;
  text-align: center;
  margin: 0 0 1rem 0;
  width: 100%;
  font-family: monaco, Consolas, 'Lucida Console', monospace;
}

.col p {
  background-color: grey;
  opacity: 0.9;
  border-radius: 20px;
  padding: 2rem;
}

.col p img {
  width: 200px;
  height: auto;
  float: right;
}

h2 {
  text-align: center;
  color: hsla(21, 99%, 63%, 0.735);
}

/* Table */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

table {
  border-collapse: separate;
  background: #099fff;
  border-radius: 5px;
  border-radius: (5px);
  margin: 50px auto;
  box-shadow: (0px 0px 5px rgba(0, 0, 0, 0.3));
}

thead {
  border-radius: 5px;
}

thead th {
  font-family: 'Patua One', cursive;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  text-align: left;
  padding: 20px;
  background-image: linear-gradient (#646f7f, #4a5564);
  border-top: 1px solid #858d99;
  &:first-child {
    border-top-left-radius: 5px;
  }

  &:last-child {
    border-top-right-radius: 5px;
  }
}

tbody tr td {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #5f6062;
  font-size: 13px;
  padding: 20px 20px 20px 20px;
  border-bottom: 1px solid #e0e0e0;
}

tbody tr:nth-child(2n) {
  background: #f0f3f5;
}

tbody tr:last-child td {
  border-bottom: none;
  &:first-child {
    border-bottom-left-radius: 5px;
  }
  &:last-child {
    border-bottom-right-radius: 5px;
  }
}

tbody:hover > tr td {
  opacity: 0.5;
}

tbody:hover > tr:hover td {
  text-shadow: none;
  color: #2d2d2d;
  opacity: 1;
}

/* contact form */

fieldset {
  border: 0;
}

.form {
  padding: 5rem;
  padding-bottom: 0;
  color: #ff0012;
  font-family: Papyrus, fantasy;
  font-size: 1.5rem;
}

form {
  position: relative;
  width: 100%;
  margin: 50px auto 100px auto;
}

input {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 50px;
  padding: 0px 15px 0px 15px;
  background: transparent;
  outline: none;
  color: black;
  border-radius: 5px;
  border: solid 2px #00b341;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #b3aca7;
  color: #e2dedb;
}

textarea {
  margin-top: 10px;
  width: 100%;
  height: 110px;
  padding: 15px;
  border: solid 2px #00b341;
  border-radius: 5px;
  background: transparent;
  color: black;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #b3aca7;
  color: #e2dedb;
}

[type='checkbox']:nth-child(1) {
  width: 15px;
  height: 15px;
}

[type='submit'] {
  width: 100%;
  padding: 0;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
  border-radius: 5px;
  border: solid 2px #00b341;
  color: #ff0012;
}

#submit:hover {
  color: #e2dedb;
}

.google {
  margin: 1rem;
  text-align: center;
}

@media screen and (min-width: 50rem) {
  .clearfix::after {
    content: '';
    display: block;
    clear: left;
  }

  .gallrey ul li {
    width: 50%;
    float: left;
    margin: 0;
    list-style: none;
  }
  .main-nav li {
    width: calc(33.33% - 1rem + 33.33rem);
    float: left;
    margin: none;
    text-align: center;
    width: 33.33%;
    list-style-type: none;
  }

  form {
    margin: 2rem;
  }
  fieldset:nth-child(1),
  fieldset:nth-child(2) {
    float: left;
    width: calc(50% - 1rem + 0.5rem);
    margin: 0 1rem 0 0;
  }
  fieldset:nth-child(1) {
    margin: 0;
    width: 50%;
  }
  fieldset:nth-child(2) {
    margin: 0;
    width: 50%;
    margin-left: 0;
  }
  fieldset:nth-child(3) {
    clear: both;
    margin: 0rem;
    width: 100%;
  }
  [type='submit'] {
    width: 100%;
  }

  .col-2 {
    float: left;
    margin-top: 1rem;
    width: 50%;
  }
}
